<div class="row">

    <form class="form-horizontal span12">


        <fieldset>

            <legend>小工详细信息</legend>
            <br/>

            <div class="row">
                <div class="span9">

                    <div class="control-group">
                        <label for="wineId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="<%= id === null ? '' : id %>" class="span1"
                                   disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">姓名:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="username" class="control-label">用户名:</label>

                        <div class="controls">
                            <input type="text" id="username" name="username" value="<%= username %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="password" class="control-label">密码:</label>

                        <div class="controls">
                            <input type="text" id="password" name="password" value="<%= password %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="phone" class="control-label">电话号码:</label>

                        <div class="controls">
                            <input type="text" id="phone" name="phone" value="<%= phone %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="address" class="control-label">地址:</label>

                        <div class="controls">
                            <input type="text" id="address" name="address" value="<%= address %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="type" class="control-label">小工类型:</label>

                        <div class="controls">
                            <select class="span2" id="type" name="type" value="<%= type %>">
                                <option
                                <%= type == '疏通管道' ? 'selected':'' %>>疏通管道</option>
                                <option
                                <%= type == '家政保洁' ? 'selected':'' %>>家政保洁</option>
                                <option
                                <%= type == '家电维修' ? 'selected':'' %>>家电维修</option>
                                <option
                                <%= type == '开锁' ? 'selected':'' %>>开锁</option>
                                <option
                                <%= type == '搬家' ? 'selected':'' %>>搬家</option>
                                <option
                                <%= type == '其他' ? 'selected':'' %>>其他</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="introduce" class="control-label">简介:</label>

                        <div class="controls">
                            <textarea id="introduce" name="introduce" class="span6" rows="6"><%= introduce %></textarea>
                        </div>
                    </div>

                </div>

                <div class="span3">
                    <div class="well">
                        <p><img id="picture" width="180" src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture %>"/></p>

                        <p>改变图片，请直接将图片拖进上方的框中.</p>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">保存</a>
            <a href="#" class="btn delete">删除</a>
        </div>

    </form>

</div>

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>


